*{
    margin: 0;
    padding:0;
}

.heading,
.container,
.footing{
    margin:10px auto;
    overflow: hidden;
}

.heading{
    height: 100px;
    background-color: #5de245;
}

.left,
.right,
.main{
    background-color: #5391e2;
}

.footing{
    height: 100px;
    background-color: #ff3a5f;
}


@media screen and (min-width: 960px) {
    .heading,
    .container,
    .footing{
        width:960px;
    }

    .left,
    .main,
    .right{
        float:left;
        height: 500px;
    }

    .left,
    .right{
        width:200px;
    }

    .main{
        margin:0px 5px;
        width:550px;
    }


}

@media screen and (min-width: 600px) and (max-width: 960px){
    .heading,
    .container,
    .footing{
        width:600px;
    }

    .left,
    .main {
        float: left;
        height:400px;
    }

    .right{
        display: none;
    }

    .left{
        width:160px;
    }
    .main{
        width:435px;
        margin-left: 5px;
    }



}

@media screen and (max-width: 600px) {
    .heading,
    .container,
    .footing{
        width:400px;
    }

    .left,
    .right{
        width:400px;
        height: 100px;
    }

    .main{
        margin-top: 10px;
        width: 400px;
        height: 200px;
    }

    .right{
        margin-top:10px;
    }




}