<!--angular表单使用-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.2.15/angular.min.js"></script>

</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <form novalidate>
        First Name:<br>
        <input type="text" ng-model="user.firstName"><br>

        Last Name:<br>
        <input type="text" ng-model="user.lastName"><br>

        姓名：<br/>
        {{user.firstName+" "+user.lastName}}

        <button ng-click="reset()">RESET</button>

        <p>
            master={{master}}
        </p>

        <p>
            form={{user}}
        </p>

    </form>
</div>

<script>
    var app = angular.module("myApp",[]);
    app.controller("myCtrl",function($scope){
        //定义一个默认的数据
        $scope.master = {firstName:"John",lastName:"Doe"};
        //定义一个重置方法，将视图中的输入框重置成默认
        $scope.reset = function () {
            $scope.user = angular.copy($scope.master);
        }
    });
</script>
</body>
</html>