<!--angular验证表单实例-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.2.15/angular.min.js"></script>
    <style>
        .redgb{
            background-color: #fd598c;
        }

        .greenfont{
            color:green;
        }
    </style>
</head>
<body>

<form ng-app="myApp" ng-controller="myCtrl" name="myForm" novalidate>
    <div ng-class="isRed">
xxx
    </div>
    <p>
        Username:</br>
        <input type="text" name="user" ng-model="username" required>
        <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
            <span ng-show="myForm.user.$error.required">
                Username is required.
            </span>
        </span>
    </p>

    <p>
        Email:</br>
        <input type="email" name="email" ng-model="email" required>
        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
        <span ng-show="myForm.email.$error.required">Email is required.</span>
        <span ng-show="myForm.email.$error.email">Invalid email address.</span>
        </span>
    </p>

    <p>
        <input type="submit" ng-disabled="myForm.user.$dirty&&myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid"/>
    </p>
</form>

<script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope) {
        $scope.username = "Jack Tan";
        $scope.email = 'Jack.tan@gamil.com';
        $scope.isRed = "redgb greenfont";
    });
</script>
</body>
</html>